<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <a href="">Ewha O!Soso Market</a>
        </div>
        <ul class="navbar__menu">
            <li><a href="/list">List</a></li>
            <li><a href="/review">Review</a></li>
            <li><a href="/reg_items">Register Items</a></li>
            <li><a href="/reg_reviews">Register Reviews</a></li>
        </ul>
        <a href="#" class="navbar__toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <section>
        {% block section %}
        <form method="post" enctype="multipart/form-data" action="/submit_item_post">
            <div>
                <br><br>
                <label for="name">Item name: </label>
                <input type="text" name="name" id="name" required>
                <br><br>
            </div>
            <div>
                <label for="seller"> Seller ID: </label>
                <input type="text" name="seller" id="seller" required><br><br>
            </div>
            <div>
                <label for="addr"> Address: </label>
                <input type="text" name="addr" id="addr" required><br><br>
            </div>
            <div>
                <label for="email"> Email: </label>
                <input type="email" name="email" id="email" required><br><br>
            </div>
            <div>
                <label for="category"> Category: </label>
                <br>
                <select id="category" name="category">
                    <option value="Clothes" selected>Clothes</option>
                    <option value="Beauty">Beauty</option>
                    <option value="Books">Books</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Electronics"> Electronics </option>
                    <option value="ETC"> ETC </option>
                </select><br><br>

                <div>
                    <label for="card">Credit Card? (Y/N): </label>
                    <br>
                    <select id="card" name="card">
                        <option value="Y" selected>Yes</option>
                        <option value="N">No</option>
                    </select><br><br>
                </div>

                <label for="status">Status? </label>
                <br>
                <select id="status" name="status">
                    <option value="new" selected>New</option>
                    <option value="Inew">Likely New</option>
                    <option value="used">Used</option>
                </select><br><br>
            </div>
            <div>
                <label for="phone">Phone : </label>
                <input type="tel" name="phone" id="phone"><br><br>
            </div>

            <div>
                <label for="img">Representative Image upload: </label>
                <input type="file" name="file" /><br><br>
            </div>

            <input type="submit" value="Submit!"><br><br>
        </form>
        {% endblock section %}
    </section>
</body>
</html>
